@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face {
  font-family: "tornado";
  src:url("font/Friday Vibes.ttf");
}



p{
  transition: all 0.35s ease-in-out;

}

a{
  transition: .3s ease-in-out;

}
body{
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
  color:#f1f1f1;
  background-color: #000;
}

.navbar{
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(0, 0, 0, 0.6)!important;
}

.navbar-brand img{
  height: 3rem;
}
.icon-heading{
  font-family: tornado;
  font-size: 2em;
  letter-spacing: .5em;
  font-style: normal;
  text-transform: lowercase;
  margin-top: 0.2em;

}

#me-img{
  width:100%;
  align-self: center;
  margin-top: 1em;
  margin-left: 5em;

}

.img-fluid{
  height: 22em;
}

.navbar-nav li{
  padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link{
  color:white;
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color:#1ebba3;
}
/* .carousel-indicators li{
  background-color: grey;
}
.carousel-indicators .active{
  background-color: #1ebba3;
} */

video{
  position: absolute;
  z-index: -100;
  top:-20%;
  width: 100%;
  height: 137vh;
  object-fit: cover;

}

#p2-video{
  height: 120vh;

}

.caption{
  width:100%;
  max-width:100%;
  position: absolute;
  top: 75%;
  z-index: 1;
  color: white;
}

.caption h1{
  font-size: 5rem;
  /* font-weight: 700; */
  letter-spacing: .6rem;
  font-family: tornado;
  text-shadow: .1rem .1rem .8rem black;
  margin-top: 0.3em;
}


.aspect-container{
  min-height: 115vh;
}

.aspect-heading{
  align-self: flex-end;

}

.aspect-p{
  align-self: center;
  margin-top: 3em;
}



.col-sm-6 h1{
  font-family: tornado;
  font-size: 5rem;
  letter-spacing: .6rem;
  margin-left: 1em;
  /* text-shadow: .1rem .1rem .8rem #1ebba3; */

}


#allign-image{
  align-items: center;
}

#gd img{
  width: 20vw;
  min-width: 30%;
  height: 100%;
  margin-top: 50vh;
  transition: all 0.35s ease-in-out;
  /* border-radius: 4px; */
}

#gd{
  align-self: center;
}

.gd_img{
  min-width: 10em;
  width: 10em;
  height: 10em;

}

.fig_cap{
  font-family: 'Roboto', sans-serif;
  letter-spacing: .2em;
  margin-top: 2em;

}

.col-sm-6 p{
  font-size: .8em;
  margin-left: 1em;
  margin-top: 15em;
}
.col-sm-4 p{
  font-size: .8em;
  margin-left: 1em;
  margin-top: 15em;
}

#slide-img-1{
  top: 10%;
}

#heading-underLine-gd{
  width: 50%;
  min-width: 20em;
}

#heading-underLine-gd2{
  width: 50%;
  min-width: 20em;
}

#heading-underLine-gd3{
  width: 50%;
  min-width: 20em;
}

#p2-h1{
  font-size: 2.5em;
  margin-top: 3.2em;
  margin-left: 1em;
  bottom: 0;}

#p1-h1{
  font-size: 2.5em;
  margin-top: 3.2em;
  margin-left: 1em;
  bottom: 0;
}

#contact-header{

  top:50%;
}

.heading-underLine{
  width: 24vw;
  margin-left: 1em;
  min-width: 20em;
  height: .2em;
  background-color: #1ebba3;
}



.carousel-item{
height: 90vh;}


.carousel-indicators{
  top: 95vh;
  object-fit: contain;

}

.carousel img{
  position: absolute;
  margin: auto;
    top: 12%;
    min-width: 100%;
    max-width: none;
    height: 80vh;
    object-fit: contain;
  }

#p3-slide-img-1{
  top: 10vh;
  left: -10vw;
  height: 100vh;
  width: 120%;
}
#p3-slide-img-2{
  top: 10vh;
  left: 0vw;
  height: 100vh;
  width: 100%;

}
#p3-slide-img-3{
  top: 10vh;
  left: 0vw;
  height: 100vh;
  width: 100%;

}
#contact-header .contact-h1{
  font-size: 3rem;
  height: 100vh;
}
#last-h1{
  font-size: 3rem;
  height: 50vh;
}


a:visited
{
    text-decoration: none;
    decoration: none;
}

p:hover{
  transform: scale(1.1);
  color: #fff;
  font-size: .8em;
}

#gd img:hover{
  transform: scale(1.2);
}

#contact-header a:hover{
  color: #1ebba3;
  padding: 1em;
  transform: scale(1.1);

}
.icon{
  color: white;
  margin: 1em;
}

.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}
.narrow h1 {
    font-size: 2.4rem;
  }
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1EBBA3;
  background-color: #1EBBA3;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
}


  #portfolio-img{
    background-color: transparent!important;
    border: none;
    height: 40vh;
    margin-left: 8vw;
    margin-top: 10em;
    margin-bottom: 3em;
  }

  .heading-underLine{
    width: 20vw;
    margin-left: 1em;
    min-width: 20em;
    height: .2em;
    background-color: #1ebba3;
  }

  #about-h1{
    font-family: tornado;
    font-size: 5rem;
    letter-spacing: .6rem;
    padding-left: 1em;
  }
  #about-p{
    font-size: .8em;
    margin-left: 10vw;
    margin-top: 20vh;
    margin-right: 10vw;
  }


  @media screen and (max-width:559px) {

    #about-h1{
      font-size: 5rem;
      margin-top: 0;
      margin-right: 10vw;
    }
    #about-p{
      font-size: .8em;
      margin-left: 1em;
      margin-top: 0;

    }

    #portfolio-img{
      margin-left: 25vw;
      margin-top: 10em;

    }
}
